:root {
  --header-font-family: "Raleway", sans-serif;
  --second-font-family: "Poppins", sans-serif;
  --primary-color: #fde2e1;
  --button-color: rgb(199, 6, 113);
}
/*Index section*/
.hero {
  background-color: var(--primary-color);
  text-align: center;
  padding: 100px 0;
}
h1,
p {
  font-family: var(--header-font-family);
}
h1 {
  color: black;
  font-size: 90px;
  font-weight: bold;
}
.hero h2 {
  color: #6e8093;
  font-size: 40px;
  font-weight: bold;
}
.hero p {
  font-size: 20px;
  font-weight: bold;
}
h2,
h3 {
  font-family: var(--second-font-family);
  font-size: 27px;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}
nav a {
  text-decoration: none;
}
nav a:hover,
nav li.active a {
  color: var(--button-color);
}

.hero button,
.foot button {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: var(--button-color);
  border: 1px solid var(--button-color);
}
.hero button:hover,
.foot button:hover {
  background-color: rgb(255, 255, 255);
  color: var(--button-color);
  border: 1px solid var(--button-color);
}
.primary-link {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: var(--button-color);
  border: 1px solid var(--button-color);
  border-radius: 4px;
  color: white;
  text-decoration: none;
  padding: 20px 15px;
}
.primary-link:hover {
  background-color: rgb(255, 255, 255);
  color: var(--button-color);
  border: 1px solid var(--button-color);
}
.foot {
  margin: 40px 40px;
  padding: 40px;
  border-radius: 4px;
  background-color: var(--primary-color);
}
.foot h2 {
  font-size: 40px;
}
.foot p {
  font-size: 20px;
}

.email {
  text-decoration: none;
  color: var(--button-color);
}
footer .social-links a {
  margin: 0 20px;
  padding: 10px 14px;
  background-color: var(--button-color);
  border: 1px solid var(--button-color);
  border-radius: 50px;
  color: white;
}
footer .social-links a:hover {
  margin: 0 20px;
  padding: 10px 14px;
  background-color: rgb(255, 255, 255);
  color: var(--button-color);
  border: 1px solid var(--button-color);
}
/*About section*/
.about-container {
  margin: 90px;
}
.about-container h1 {
  font-size: 50px;
}
.about-container button {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: var(--button-color);
  border: 1px solid var(--button-color);
}
.about-container button:hover {
  background-color: rgb(255, 255, 255);
  color: var(--button-color);
  border: 1px solid var(--button-color);
}

/*Portfolio section*/
.port-container {
  margin: 90px;
}

/*Contact section*/
.contact-container {
  margin: 90px;
}
.contact-container h2 {
  font-size: 50px;
  font-weight: bolder;
}
