:root {
  --header-font-family: "Raleway", sans-serif;
  --second-font-family: "Poppins", sans-serif;
  --primary-color: #ffb9c5;
  --button-color: rgb(199, 6, 113);
}

.hero {
  background-color: var(--primary-color);
  text-align: center;
  padding: 100px 0;
}
h1,
p {
  font-family: var(--header-font-family);
}
h1 {
  color: black;
  font-size: 90px;
  font-weight: bold;
}
h2 {
  color: grey;
  font-size: 40px;
  font-weight: bold;
}
.hero p {
  font-size: 20px;
  font-weight: bold;
}
h2,
h3 {
  font-family: var(--second-font-family);
  font-size: 27px;
}
.navbar-light .navbar-nav .nav-link.active {
  color: var(--button-color);
}
.navbar-light .navbar-nav .nav-link.active:hover {
  color: #ffb9c5;
}

.hero button {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: var(--button-color);
  border: 1px solid var(--button-color);
}
.hero button:hover {
  background-color: rgb(255, 255, 255);
  color: var(--button-color);
  border: 1px solid var(--button-color);
}
.primary-link {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: var(--button-color);
  border: 1px solid var(--button-color);
  border-radius: 4px;
  color: white;
  text-decoration: none;
  padding: 20px 15px;
}
.primary-link:hover {
  background-color: rgb(255, 255, 255);
  color: var(--button-color);
  border: 1px solid var(--button-color);
}
.foot {
  margin: 30px 20px;
  padding: 50px;
  border-radius: 4px;
  background-color: var(--primary-color);
}
.fa {
  padding: 10px;
  background-color: var(--button-color);
  border-radius: 50px;
  color: white;
}
.fa:hover {
  background-color: rgb(255, 255, 255);
  color: var(--button-color);
  border: 1px solid var(--button-color);
}
