:root {
  --header-font-family: "Raleway", sans-serif;
  --second-font-family: "Poppins", sans-serif;
  --primary-color: #fde2e1;
  --button-color: rgb(199, 6, 113);
}
/*Index section*/
.hero {
  background-color: var(--primary-color);
  text-align: center;
  padding: 100px 0;
}
h1,
p {
  font-family: var(--header-font-family);
}
h1 {
  color: black;
  font-size: 90px;
  font-weight: bold;
}
.hero h2 {
  color: #6e8093;
  font-size: 40px;
  font-weight: bold;
}
.hero p {
  font-size: 20px;
  font-weight: bold;
}
h2,
h3 {
  font-family: var(--second-font-family);
  font-size: 27px;
}
.navbar-light .navbar-nav .nav-link.active {
  color: var(--button-color);
}
.navbar-light .navbar-nav .nav-link.active:hover {
  color: #ffb9c5;
}

.hero button,
.foot button {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: var(--button-color);
  border: 1px solid var(--button-color);
}
.hero button:hover,
.foot button:hover {
  background-color: rgb(255, 255, 255);
  color: var(--button-color);
  border: 1px solid var(--button-color);
}
.primary-link {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: var(--button-color);
  border: 1px solid var(--button-color);
  border-radius: 4px;
  color: white;
  text-decoration: none;
  padding: 20px 15px;
}
.primary-link:hover {
  background-color: rgb(255, 255, 255);
  color: var(--button-color);
  border: 1px solid var(--button-color);
}
.foot {
  margin: 40px 40px;
  padding: 40px;
  border-radius: 4px;
  background-color: var(--primary-color);
}
.foot h2 {
  font-size: 40px;
}
.foot p {
  font-size: 20px;
}
.fa {
  padding: 10px;
  background-color: var(--button-color);
  border: 1px solid var(--button-color);
  border-radius: 50px;
  color: white;
}
.fa:hover {
  background-color: rgb(255, 255, 255);
  color: var(--button-color);
  border: 1px solid var(--button-color);
}
.email {
  text-decoration: none;
  color: var(--button-color);
}
i {
  margin-right: 40px;
}

/*About section*/
.about-container {
  margin: 90px;
}
.about-container h1 {
  font-size: 50px;
}
.about-container button {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: var(--button-color);
  border: 1px solid var(--button-color);
}
.about-container button:hover {
  background-color: rgb(255, 255, 255);
  color: var(--button-color);
  border: 1px solid var(--button-color);
}
